* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/markus-spiske-70Rir5vB96U-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    justify-content: center;
}

#p {
    border: 2px solid black;
}

#c {
    border: 2px solid black;
}
#key {
    width: 25%;
    height: 100%;
    color: red;
    border: 2px solid black;
}
#pc {
    width: 25%;
    height: 100%;
    margin-top: 10px;
    color: green;
    border: 2px solid black;
}